<div class="col-sub">
    <div class="sidebar admin_bar">
        <h5 class="line"><span>功能</span></h5>
        <span class="line"></span>
        <ul class="categories">
            <li><a href="/admin">文章管理</a></li>
            <li><a href="/admin/write">发布文章</a></li>
            <li><a href="/admin/lab">实验室管理</a></li>
            <li><a href="/admin/music">音乐管理</a></li>
        </ul>
    </div>
</div>