<div id="footer" class="layout clearfix">
    <p class="copyright">
        Maked  by <a href="/">Eastory</a>
        &nbsp;&nbsp;
        Power by <a href="http://nodejs.org">Nodejs</a>
    </p>
</div>
<%- include info %>
</body>
</html>