<script type="text/javascript" src="/script/jquery.min.js"></script>
<script type="text/javascript" src="/script/pagedown/Markdown.Converter.js"></script>
<script type="text/javascript" src="/script/pagedown/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="/script/pagedown/Markdown.Editor.js"></script>
<div class="wmd-panel">
    <div id="wmd-button-bar"></div>
    <textarea class="wmd-input post_content" name='post' id="wmd-input" required=''></textarea>
</div>
<script type="text/javascript">
    $(function(){
        var o_post = document.getElementById('o_post'),
            post = $('#wmd-input');
        if(o_post){
            post.text(o_post.value);
        }
        var converter = Markdown.getSanitizingConverter();
        var editor = new Markdown.Editor(converter);
        editor.run();
    });
</script>