<%- include inc/header %>
<div id="content" class="layout">
    <div class="col-main">
        <form method="POST" action="/login">
            <p><label for="name">用户名:</label><input  name="name" id="name" type="text"/></p>
            <p><label for="password">密码:</label><input  name="password" id="password" type="password"/></p>
            <input value="提交" type="submit"/>
        </form>
    </div>
    <%- include inc/side %>
</div>
<%- include inc/footer %>