<%- include inc/header %>
<div class="main">
    <form method="POST" action="/post">
        <p><label for="title">标题</label></p><input name="title" id="title" type="text"/>
        <p><label for="post">文章</label></p><textarea name="post" id="post" cols="30" rows="10"></textarea>
        <input value="发表" type="submit"/>
    </form>
</div>
<%- include inc/footer%>