<%- include inc/header %>
<div id="content" class="layout">
    <div class="col-main">
        <form method="POST" action="/post">
            <p><label for="title">标题</label></p><input name="title" id="title" type="text"/>
            <p><label for="post">标签</label></p>
            <p><input name="tag1" type="text"/><input name="tag2" type="text"/><input name="tag3" type="text"/></p>
            <p><label for="post">文章</label></p>
            <textarea name="post" id="post" cols="80" rows="10"></textarea>
            <input value="发表" type="submit"/>
        </form>
    </div>
    <%- include inc/side %>
</div>
<%- include inc/footer %>