<%- include inc/header %>
<div class="main">
    <%- include inc/info %>
    <form method="POST" action="/reg">
        <p><label for="name">用户名:</label><input name="name" id="name" type="text"/></p>
        <p><label for="password">密码:</label><input name="password" id="password" type="password"/></p>
        <p><label for="repassword">确认密码:</label><input name="repassword" id="repassword" type="password"/></p>
        <p><label for="email">邮箱:</label><input name="email" id="email" type="email"/></p>
        <input value="提交" type="submit"/>
    </form>
</div>
<%- include inc/footer%>