body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
    margin:0;padding:0
}
body,button,input,select,textarea{
    font:12px/1.5 'Microsoft YaHei', Arial, sans-serif;
    color:#333;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%
}address,cite,dfn,em,var{
     font-style:normal
 }
code,kbd,pre,samp{
    font-family:courier new,courier,monospace}
small{
    font-size:12px
}
ul,ol{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:underline}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}


#page,#header,#content,#footer{margin-left:auto;margin-right:auto;position: relative;}
.w950{width:950px}
.layout{width: 960px;margin:0 auto; }
.col-main{float:left;width:100%;min-height:1px}
.col-sub{margin-top: 22px;}
.col-sub,.col-extra{float:left}
.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after{content:'\20';display:block;height:0;clear:both}
.layout,.main-wrap,.col-sub,.col-extra{*zoom:1}
.layout .col-main {float: left;width: 670px;}
.layout .col-sub {float: left;width: 260px;margin-left: 30px;}
#content{margin-top: 20px;}
h1,h2,h3,h4,h5,h6{font-size: 100%;color:#696969;}
a {color: #333;}
a:hover{text-decoration: none}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: #696969}

.clearfix:after {clear: both;content: '.';display: block;visibility: hidden;height: 0;}

#logo{font-size: 25px;height: 55px;margin-top:15px;}
#logo a{position: relative;}
#logo a:after{background: #f44844;width: 5px;height: 5px;content: '\20';display: inline-block;position:absolute;bottom:0;}
.nav{border-bottom: 1px solid #EA4748}
.nav li{float: left;margin-right: 30px;}

.nav li a{border-bottom:3px solid #ffffff;font-size: 14px;padding-bottom: 7px;display:block;color:#696969;font-weight: bold;
    -webkit-transition:border .1s ease-in .1s;
    -moz-transition:border .1s ease-in .1s;
    -ms-transition:border .1s ease-in .1s;
    transition:border .1s ease-in .1s;
}
.nav li a:hover{border-bottom: 3px solid #EA4748}

.search{position: absolute;top:0;right: 0;}
.rs{background: url("../img/search.png") center center #EA4748 no-repeat;width: 43px;height: 34px;border:none;float: right}
.ri{height: 34px;border:none;float: left;outline: none;}

.post-item{border-bottom:1px solid #dbdbdb;padding: 20px 0 20px 0}
.post-item .post-title a{font-size: 26px;}
.post-item .post-title a:hover{text-decoration: underline;color:black;}
.post-item .post-meta{padding: 5px 0 10px}
.post-item .post-meta,.post-item .post-meta a{color:#EA4748}

.post-item p{font-size: 14px;line-height: 21px;}
.post-item .read-more,.post-item .read-more a{font-size:14px}
.post-item .read-more a{color:#EA4748;font-weight: bold;}
.post-item .post-meta a:hover,.post-item .read-more a:hover{text-decoration: underline}

.pagination{margin: 10px 10px 20px 0px}
.pagination li{float:left;}

.pagination li a{
    background: -webkit-linear-gradient(top, #e2e2e2, #c9c9c9);
    background: -moz-linear-gradient(top, #e2e2e2, #c9c9c9);
    background: -ms-linear-gradient(top, #e2e2e2, #c9c9c9);
    background: linear-gradient(top, #e2e2e2, #c9c9c9);
    color:#555;
    padding:3px 10px 4px 10px;
    margin-right: 5px;
    display: block;
    -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
    -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
    -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
    transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
}
.pagination li .extra{width: 25px;display: block;text-align: center;font-size: 15px;padding: 1px 5px 2px 5px;}
.pagination li span{
    background:-webkit-linear-gradient(top, #ee6c6d, #bc393a);
    background:-moz-linear-gradient(top, #ee6c6d, #bc393a);
    background:-ms-linear-gradient(top, #ee6c6d, #bc393a);
    background:linear-gradient(top, #ee6c6d, #bc393a);
    color:#fff;
    padding:3px 10px 4px 10px;
    margin-right: 5px;
    display: block;
}
.pagination li a:hover{
    color:white;
    background:-webkit-linear-gradient(top, #ee6c6d, #bc393a);
    background:-moz-linear-gradient(top, #ee6c6d, #bc393a);
    background:-ms-linear-gradient(top, #ee6c6d, #bc393a);
    background:linear-gradient(top, #ee6c6d, #bc393a);
}

#footer{border-bottom: 1px solid #EA4748;margin-top: 20px;}
#footer .copyright{background: #EA4748;padding:3px;float: right;color:#fff}
#footer .copyright a{color:#fff;}
#footer .copyright a:hover{text-decoration: underline}

.sidebar{margin-bottom: 30px;color: #929292;}
.sidebar a:hover{text-decoration: underline}
.sidebar h5.line{margin-bottom: 20px;border-bottom: 1px solid #EA4748;font-size: 16px;font-weight: bold;}
.sidebar h5 span{padding-bottom: 7px;display: block;}
.sidebar span.line{border-bottom: 4px solid #EA4748;margin-top:-24px;width: 100px;display:block; }

.categories{margin-top: 10px;}



