body {padding: 50px;font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
a {color: #00B7FF;}
.container{width:960px;margin: 0 auto;}
.container:after{content: '';clear:both;}
header h1{margin-left: 210px;}
aside{float:left;width:200px;}
.main{margin-left: 210px;border-top:1px solid gray}