<div id="footer" class="layout clearfix">
    <p class="copyright">
        Maked  by <a href="/">Eastory</a>
        &nbsp;&nbsp;
        Power by <a href="http://nodejs.org">Nodejs</a>
    </p>
</div>
<%- include info %>
</body>
<script type="text/javascript" src="/script/jquery.min.js"></script>
<script src='/script/prettify/prettify.js' type='text/javascript'></script>
<script type="text/javascript">
    (function () {
        $("pre").addClass("prettyprint");
        prettyPrint();
    })()
</script>
</html>