<div class="col-sub ml30 mt22">
    <div class="sidebar">
        <h5 class="line"><span>分类</span></h5>
        <span class="line"></span>
        <ul class="categories">
            <% cats.forEach(function(cat){ %>
            <li><a href="/cat/<%= cat %>"><%= cat %></a></li>
            <% }) %>
        </ul>
    </div>
    <div class="sidebar">
        <h5 class="line"><span>标签</span></h5>
        <span class="line"></span>
        <ul class="categories">
            <% tags.forEach(function(tag){ %>
                <li><a href="/tag/<%= tag %>"><%= tag %></a></li>
            <% }) %>
        </ul>
    </div>
</div>